<!-- <div class="shout_box">
<div class="header">Saaraan Shout Box <div class="close_btn">&nbsp;</div></div>
  <div class="toggle_chat">
  <div class="message_box">
    </div>
    <div class="user_info">
    <input name="shout_username" id="shout_username" type="text" placeholder="Your Name" maxlength="15" />
   <input name="shout_message" id="shout_message" type="text" placeholder="Type Message Hit Enter" maxlength="100" /> 
    </div>
    </div>
</div> -->
<!-- <div class="chat-container">
	<div class="header">
		<span>Baragin with CFashions</span>
		<span class="minimiseIcon"></span>
		<span class="closeIcon"></span>
	</div>
	<div class="chat-content">
		<div class="product-link">
		</div>
		<div class="message-box">
			<ul>
				<li ng-repeat="message in chatData.messages">
					{{message.txt}}
				</li>
			</ul>
		</div>
		<div class="send-message">
			<textarea type="text" placeholder="Send a message"  ng-enter="submitMessage()" ng-model="userMessage" ng-focus="setFocus()" ng-disabled="chatData.status =='closed'"></textarea>
		</div>
	</div>
	
</div> -->
<div style="float:right">
	<div class="chat-wrapper" style=" height: 561px;">
		<div class="chat" ng-show="!collapse">
		    <div class="chatheader">Baragin with CFashions
		    	<i class="fa fa-times" style="float:right;"></i>
		    	<i class="fa fa-minus minus" style="float:right;" ng-click="minimize()"></i>
		    </div>
		    <div class="productHeader">
		    	<div class="imgDiv fl">
		    		<img class="image" ng-src="{{product.PRDCNTXT.image_url}}"></img>
		    	
		    	</div>
		    	<div class="name fr" align="left">
		    		{{product.PRDCNTXT.description}}
		    	</div>
		    </div>
		    <div class="text clear" >
		    	<div class='bubble fr reporter bgblue ' ng-repeat="message in chatData.messages" ng-class="chatData.user == message.sender ? 'user-mesg1' : 'bubble--alt agent-mesg1'">
		    		<div class='chat-name'>{{message.txt}}</div>
		    	</div>
		    </div>
		    <div class="chatbox">
		    	<textarea type="text" placeholder="Send a message"  ng-enter="submitMessage()" ng-model="userMessage" ng-focus="setFocus()" ng-disabled="chatData.status =='closed'" class="textArea"></textarea>
		    </div>
		</div>
		<div class=" activeChat chat" ng-show="collapse">
			<div class="chatheader h38 p3">
					<img class="image  fl" ng-src="{{product.PRDCNTXT.image_url}}"></img>
				<div class="name fl minName">{{product.PRDCNTXT.description}}</div>
		    	<i class="fa fa-times fr p8"></i>
		    	<i class="fa fa-minus minus fr p8" ng-click="minimize()"></i>
			</div>
			
	    </div>
	</div>
</div>